@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: aliceblue;

}
html {
    scroll-behavior: smooth;
}
.container {
    width: 100%;

    position: relative;
    bottom: 720px;
    /* height: 500vh !important; */
    height: auto !important;
    /* overflow: hidden; */
}

body {
    background-color: rgb(0, 7, 0);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* height: 500vh; */
}

.frame {
    position: -webkit-sticky;
    /* For Safari */
    /* position: sticky; */
    position: sticky;
    left: 14px;
    top: 10px;
    width: calc(100% - 25px);
    height: 97vh;
    margin: 10px auto;
    border: 0.5px solid rgb(196, 196, 196);
    /* Style the frame's border */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    /* z-index: -10; */

}

.sub-frame-1 {
    border: solid #9c9c9c 0.5px;
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom: 0.2px;
    border-top: 0.2px;
    left: 40px;
    /* top: 10px; */
    /* margin-right: 20px;  */
    overflow: hidden;


}

.sub-frame-2 {
    border: solid #9c9c9c 1px;
    height: calc(92% - 25px);
    width: 100%;
    position: absolute;
    border-left: 0.2px;
    border-right: 0.2px;
    top: 40px;
    /* bottom: 40px; */
    overflow: hidden;

}

h1 {
    color: aliceblue;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 7px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    z-index: 10000000;


}

h1>span {
    color: #09BB00;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;

}

.img-pack {
    position: absolute;
    left: 11px;
    bottom: 35%;
    display: flex;
    flex-direction: column;
    z-index: 4000000;
    /* background-color: #09BB00; */
}

.img-pack>.tooltip-wrapper>img {
    height: 20px;
    margin-top: 20px;
    filter: brightness(0.7);
    cursor: pointer;
}

.img-pack>.tooltip-wrapper>img:hover {
    filter: brightness(1);

}

/* Basic styles for the image pack and tooltips */
.img-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    /* margin: 10px; */
    z-index: 400000000000;

}

.tooltip-container {
    cursor: pointer;
    z-index: 400000000000;

}

.tool-box {
    visibility: hidden;
    width: 80px;
    /* Adjust as needed */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 1%;
    left: 180%;
    font-size: 14px;
    /* transform: translateX(-50%); */
    opacity: 0;
    transition: opacity 0.3s;
}

.tool-box-T {
    min-width: 120px;
}

/* Tooltip arrow styling */
.tool-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    /* Position the arrow to the left of the tooltip */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

/* Show the tooltip on hover */
.tooltip-wrapper:hover .tool-box {
    visibility: visible;
    opacity: 1;
}





.vid-1-1 {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: -10000000;

}

.vid-1-2 {
    position: absolute;
    right: 50%;
    top: 5%;
    z-index: -100000000;

}

img[src="./media/1.png"] {
    height: 12px;
    position: absolute;
    bottom: 2%;
    left: 15px;
    cursor: pointer;
}

img[src="./media/2.png"] {
    height: 12px;
    position: absolute;
    bottom: 2%;
    left: 15px;
    cursor: pointer;
}

.green-dot-container,
.img-pack,
.img-pack-2 {
    z-index: 400000000000;

}

.frame>p {
    position: absolute;
    /* bottom: 2px; */
    bottom: 1%;
    color: #e2e2e2;
    z-index: 10000;


}

.img-pack-2 {
    /* height: 20px; */
    position: absolute;
    bottom: 0.5%;
    right: 7px;
}

.img-pack-2>a>img {
    height: 20px;
    margin: 0px 7px;
    border-radius: 3px;
    filter: brightness(0.7);
    cursor: pointer;

}

.img-pack-2>a>img:hover {
    filter: brightness(1);

}

.packet-3 {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.packet-3>i {
    margin: 0px 4px;
    font-size: 20px;
    /* border: solid 2px black; */
    filter: brightness(0.7);

}

.packet-3>i:hover {

    filter: brightness(1);
    cursor: pointer;
}



.outer-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    /* Hide overflow */
}

.inner-wrapper {
    display: flex;
    width: 200%;
    animation: scroll 20s linear infinite;
}

.inner-wrapper p {
    width: 50%;
    text-align: center;
    margin: 0;
    font-size: 270px;
    font-weight: 700;
    color: #9c9c9c0d;
    /* z-index: -2000; */
    user-select: none;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* REAL WEBSITE CODE  */

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 70px;
    text-align: center;
    font-weight: 300;
    z-index: 10000;
}

h2>span {
    color: #09BB00;
    font-weight: 400;
}

.main>p {
    text-align: center;
    color: gray;
    z-index: 10000;

}

.main-p-2 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.main-p-1 {
    position: relative;
    right: 7px;
    margin-bottom: 10px;
}

.projects {
    /* height: 100vh; */
    z-index: 10000000;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.heading {
    z-index: 20000;
    display: inline-block;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes un-typing {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}

h4 {
    overflow: hidden;
    border-right: .15em solid rgb(27, 160, 0);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 100px;

}

h4.jam {
    animation: un-typing 1s forwards;

}

h4.jam-active {
    animation: typing 1s forwards ease-out;
}

.project-files {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj {
    margin: 20px 0px;
    width: 100%;
    max-width: 950px;
    height: 200px;
    border: solid 2px white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.year {
    font-family: "Chakra Petch", sans-serif;
    margin: 12px 12px;
    font-size: 26px;
    font-weight: 500;
}

.num {
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    font-weight: 700;
    color: #9c9c9c;
    font-family: "Chakra Petch", sans-serif;
}

.left-proj {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

h5 {
    font-size: 34px;
    margin-left: 30px;
    align-self: center;
    font-weight: 400;
    transition: 100ms ease-in;
}

.proj>.proj-right>a>img {
    height: 197px;
}

.proj-right {
    display: flex;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
}

.proj {
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s ease;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.proj.jam-active {
    transform: translateX(0px);
    opacity: 1;
}

.btn-1 {
    background-color: transparent;
    margin-top: 50px;
    padding: 12px 26px;
    font-size: 22px;
    border-radius: 14px;
    border: solid white 2px;
    cursor: pointer;
    transition: 100ms ease-in;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;

}

.btn-1:hover {
    border-color: black;
    color: black;
    background-color: #09BB00;
}

.proj-2,
.proj-4 {
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s ease;
}

.proj-2.jam-active {
    transform: translateX(0px);
    opacity: 1;
}

.proj-4.jam-active {
    transform: translateX(0px);
    opacity: 1;
}

.proj-right>a>img {
    transform: scale(0.5);
    /* transform: rotate(0deg); */
    transition: 200ms ease-in;
    /* position: relative;
    right: 20px;
    bottom: 30px; */
}

.proj-right>a>img.jam-active {
    transform: scale(0.9);
    border: solid 2px #9c9c9c;
    border-radius: 5px;
    /* transform: rotate(10deg); */
}

.proj:hover .proj-right img {
    transform: scale(0.96);
}



/* Typing effect */
h5 {
    overflow: hidden;
    /* Ensures the content is hidden outside the width of the container */
    border-right: 0.15em solid;
    /* The cursor */
    white-space: nowrap;
    /* Prevents text from wrapping to the next line */
    visibility: hidden;
}

h5.jam-active {
    visibility: visible;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;

}

/* Keyframes for typing */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Keyframes for blinking cursor */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}


/* #container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
}

#draggable {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f00;
    cursor: grab;
} */


.about {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: auto;
}

.heading-about>h4 {
    margin-bottom: 80px;
}

.about-container {
    height: 90vh;
    width: 70vw;
    overflow: hidden;

}

.about-box {
    font-family: "Chakra Petch", sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.8px);
    -webkit-backdrop-filter: blur(13.8px);
    border: 1px solid rgba(0, 0, 0, 0.29);
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: solid #9c9c9c 2px;
    /* display: none; */

}

.small-about-heading {
    display: flex;
    justify-content: space-between;
    border: solid #9c9c9c 2px;
    border-radius: 12px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;


}

.packet-4 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    position: absolute;
    right: 10px;
    top: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.packet-4>i {
    margin: 0px 4px;
    font-size: 20px;
    /* border: solid 2px black; */
    filter: brightness(0.7);

}

.packet-4>i:hover {

    filter: brightness(1);
    cursor: pointer;
}

h7 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    padding: 5px 17px;
    width: auto;
}


.small-about-content {
    padding: 20px 10px;
    padding-top: 8px;
    font-size: 19px;


}

.about-box-1 {
    width: 800px;
    height: auto;
    /* position: relative; */
    left: 330px;
}

.about-box-2 {
    width: 520px;
    height: 130px;
    bottom: 1400px;
    /* left: -200px; */

}

.about-box-3 {
    overflow: hidden;
    width: 400px;
    height: 340px;
    /* position: relative; */
    left: 900px;
    bottom: 1200px;
}

.small-about-content>img {
    height: 140%;
    position: relative;
    left: 60px;
    transition: 1s ease;
}


.about-box-4 {
    width: 250px;
    height: 180px;
    /* position: relative; */
    bottom: 1200px;
    left: 400px;
    /* z-index: 1000; */

}

.about-box-5 {
    width: 310px;
    height: 180px;
    /* position: relative; */
    bottom: 1140px;
    left: 570px;

}

.small-about-content>p {
    font-family: "Chakra Petch", sans-serif;
    padding-left: 10px;
}

.small-about-content>a>p {
    font-family: "Chakra Petch", sans-serif;
    padding-left: 10px;
    text-decoration: none;
    transition: 300ms ease;

}

.small-about-content>a {
    text-decoration: none;

}

.small-about-content>a>p:hover {
    color: #0cf500;
}

.small-about-content>img:hover {
    transform: scale(1.05) translateY(-35px);

}

.portrait {
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
}

.img-portrait.jam-active {
    transform: translateY(-35px);

}

.green {
    color: #0cf500;
    display: inline-block;
    font-weight: 500;
}

.blue {
    color: blue;
    display: inline-block;
    font-weight: 500;
}

.red {
    color: rgb(206, 0, 0);
    display: inline-block;
    font-weight: 500 !important;

}

.orange {
    color: rgb(230, 88, 0);
    display: inline-block;
    font-weight: 500;

}

.aqua {
    color: rgb(0, 226, 226);
    display: inline-block;
    font-weight: 500;
}

.purple {
    color: purple;
    display: inline-block;
    font-weight: 500;
}


.reviews {
    position: relative;
    top: 460px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 91vw;
    left: 70px;
}

.reviews>h6 {
    all: unset;
    font-size: 70px;
    /* width: 70%; */
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    /* display: flex; */
    /* justify-content: center; */

    overflow: hidden;
    border-right: .15em solid rgb(27, 160, 0);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 100px;

}

.reviews>h6.jam {
    animation: un-typing 1s forwards;

}

.reviews>h6.jam-active {
    animation: typing 1s forwards ease-out;
}

.carousel-container {
    position: relative;
    width: 900px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 500px;
    font-family: "Chakra Petch", sans-serif;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.29);
    display: flex;
    flex-direction: column;
    border: solid #9c9c9c 2px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
}

.carousel-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 100px;
    cursor: pointer;
    padding: 0.5em;
    transition: 200ms ease;

}
.carousel-button:hover{
    color: #09BB00;
}

.review-buttons {
    display: flex;
    justify-content: space-between;
    transform: translateY(-400px);
}

.carousel-button.prev {
    transform: translateX(-430px);
}

.carousel-button.next {
    transform: translateX(450px);
}

.contact-container {
    position: relative;
    top: 90vh;
    width: 80%;
    margin-left: 10%;
    /* justify-self: center; */
    /* background-color: #09BB00; */
    /* padding: 20px 30px; */
}

.contact>.small-about-heading {

    border: solid 2px #9c9c9ca4;
    border-bottom: 0px;
    border-radius: 0;
}

.small-about-heading>h7 {
    padding: 5px 20px;
}

.small-about-content {
    height: 300px;
}

.contact>.small-about-content {

    border: solid 2px #9c9c9ca4;
}

.contact {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}

.left-contact {
    border-radius: 50%;
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 350px;
    margin-right: 30px;
}

.contact>.small-about-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

h9 {
    font-size: 60px;
}

.right-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
}

.right-contact>button {
    background-color: transparent;
    margin-top: 18px;
    padding: 12px 26px;
    font-size: 22px;
    border-radius: 14px;
    border: solid white 2px;
    cursor: pointer;
    transition: 100ms ease-in;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
}
.right-contact>button:hover{
    border-color: black;
    color: black;
    background-color: #09BB00;
}
.lc-img{
    height: 250px;
    transform: translateX(50px) translateY(60px) scale(0.9);
    transition: 2s ease;
}
.lc-img.jam-active{
    transform: translateX(50px) translateY(4px) scale(1.1);
}
.about-btn{
    background-color: transparent;
    margin-top: 18px;
    padding: 12px 26px;
    font-size: 22px;
    border-radius: 14px;
    border: solid white 2px;
    cursor: pointer;
    transition: 100ms ease-in;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    position: relative;
    top: 200px;
    left: 45%;
    z-index: 9;
    /* transform: translateY(200px); */
}
.about-btn:hover{
    border-color: black;
    color: black;
    background-color: #09BB00;
}