#home{
    /* display: none; */
    /* visibility: hidden; */
}
#projects{
    display: none;
    /* visibility: hidden; */
}
#about{
    display: none;
    /* visibility: hidden; */
}
#reviews{
    display: none;
    /* visibility: hidden; */
}
#contact{
    /* display: none;  */
    /* visibility: hidden; */
}